@import './color.module.css';

.textEditor {
  /* max-width: 1000px; */
  margin: 0 auto;
  /* background: var(--color-bg-panel); */
  padding: 16px;
  border-radius: var(--radius-default);
  box-shadow: var(--shadow-soft);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.textList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-bottom: 16px;
}

.addCard {
  width: 280px;
  min-height: 200px;
  border: 2px dashed var(--color-divider);
  background-color: var(--color-bg-main);
  color: var(--color-text-muted);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  border-radius: var(--radius-default);
  transition: background-color 0.2s ease;
  margin-bottom: 70px
}

.addCard:hover {
  background-color: var(--color-hover);
}

.cardHeader {
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: var(--color-text-main);
}
